.updateProfile{
    min-height: 100vh;
    background-image: linear-gradient(to right,white,#d6cfee);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
}

.updateProfileForm{
    background-color: white;
    width: 50%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
}

.updateProfileForm>a{
    align-self: flex-end;
    text-decoration: none;
    color:rgba(0,0,0,0.342);
    margin: 2vw;
}
.ava{
    margin-left: 35%;
}
.updateProfileFormInputs{
    box-sizing: border-box;
    padding: 1vmax 2vmax;
    width: 80%;
    border-radius: 40px;
    border:1px solid #ccc;
    margin: 2vmax;
    font:100 1,2rem "Roboto",sans-serif;
    outline: none;
}
.updateProfileForm>input[type="file"]::-webkit-file-upload-button{
    background-color:rgb(38,63,173);
    color:white;
    width:100%;
    padding:1vmax;
    border-radius: 30px;
    border:none;
    font:100 1.2rem "Roboto";
    cursor: pointer;
}

.updateProfileForm>input[type="file"]{
    border-radius: 30px;
    margin: 2vmax;
}

@media screen and (max-width:600px) {
    .updateProfileForm>a{
        align-self: center;
        text-decoration: none;
        color: rgba(0,0,0,0.342);

    }

    .updateProfileForm>input[type="file"]::-webkit-file-upload-button{
        width: 70%;
    }

    .updateProfileForm>input[type="file"]{
        width: 100%;
    }

    .updateProfileForm>input{
        padding: 4vw;
        margin:2vmax;
        font:100 1.2rem "Roboto",sans-serif;
        margin:4vw;
    }


    
}

